.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.side-drawer div {
  width: 2rem;
  height: 2rem;
  /* background: transparent; */
  display: block;
  z-index: 10000;
  position: absolute;
  margin: 2rem 1rem 1rem 1rem;
  cursor: pointer;
}
.side-drawer div::before {
  content: "";
  background: #000;
  width: 100%;
  height: 2px;
  display: block;
  z-index: 10000;

  position: absolute;
  /* bottom: 1rem; */

  transform: rotateZ(45deg);
}
.side-drawer div::after {
  content: "";
  background: #000;
  width: 100%;
  height: 2px;
  display: block;
  z-index: 10000;

  /* top: 1rem; */

  transform: rotateZ(135deg);
  position: absolute;
}
